{% extends 'base.html.twig' %}
{% apply inline_css %}
    <style>
        h1 {
            color: #333;
        }
    </style>

    <img src="{{ email.image('@images/logo.png') }}" alt="Logo">
    <h1>Welcome {{ email.toName }}!</h1>
    {# ... #}
{% endapply %}


{% endblock %}
